// fonts
@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,700');


// global

$nebb-primary: #222;
$nebb-secondary: #53ff5f;

// featured Image Logo
#featured-hero {
  .logo {
    display: none;
  }
}



@include breakpoint(large) {
  #featured-hero {
    .logo {
      position: absolute;
      left: 10px;
      top: 280px;
      display: block;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+74&0.65+0,0+80 */
      background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.05) 74%, rgba(0,0,0,0) 80%); /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.05) 74%,rgba(0,0,0,0) 80%); /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.05) 74%,rgba(0,0,0,0) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
  }

}


// For the fixed Top menu
@include breakpoint(medium) {
  section.container {
    padding-top: 55px;
  }

  .site-header {
    position: fixed;
    width: 100%;
    margin-bottom: 55px;
    z-index: 99999;
    height: 55px;
  }
}


// Main column
article.main-content {
  @include breakpoint(medium) {
    font-size: 1.1em;
    color: $nebb-primary;
    font-weight: 300;
  }


  h1, h2, h3 {
    font-weight: bold;
    a:hover {
      background: $nebb-secondary;
      text-decoration: none;
    }

  }

  // Der eigentliche Text
  .entry-content {
    a {
      text-decoration: none;
      background-image: linear-gradient(to top, #fff 0, #fff 49%, #000 50%, #000 100%);
      background-size: 2px 2px;
      background-repeat: repeat-x;
      background-position: 0 105%;
      padding: 1px 0
    }
    a:hover {
      background: $nebb-secondary;
    }
    img {
      margin-bottom: 6px;
    }

  }
  footer {
    font-size: 0.8em;
    a:hover {
      background: $nebb-secondary;
      color: $black;
    }
  }

  .post-navigation {
    margin-bottom: 12px;
    .nav-previous:before {
      content: '«';
      margin-right: 6px;
    }
    .nav-next:after {
      content: '»';
      margin-left: 6px;
    }
    a {
      text-decoration: underline;
    }
    a:hover {
      background: $nebb-secondary;
      color: $black;
    }
  }

}

// sidebar
aside {
  h6 {
    color: $nebb-primary;
  }
  label {
    color: #ccc;
  }
  .widget {
    color: #ccc;
    font-size: 0.8em;
    a {
      color: #ccc;
    }

    a:hover {
      background: $nebb-secondary;
      color: $black;
    }

  }

}


// Footer
